<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">



<footer class="footer-distributed">

	<div class="footer-left">

		<h3>Villa Darunea</h3>
<br>
		<p class="footer-company-name">Copyright &copy; 2018</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>2 Academicianul Gh.Ghidirim Street</span> Palanca, Moldova</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+373 60244429</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="*">villadarunea@gmail.com</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>About the company</span>The resort Villa Darunea offers accommodation,catering, gastronomical workshops, trips in the area of Palanca village</p>

		<div class="footer-icons">

			<a href="https://www.facebook.com/"  target="_blank"><i class="fa fa-facebook"></i></a>
			<a href="https://www.tripadvisor.com/"  target="_blank"><i class="fa fa-tripadvisor"></i></a>

		</div>

	</div>

</footer>
