  @font-face {
     font-family: 'Draconian';
     src: url('/assets/fonts/Draconian/Draconian.ttf') format('ttf');
  }

  @font-face {
     font-family: 'Roadway';
     src: url('/assets/fonts/Roadway/roadway.ttf') format('ttf') ;
  }

  @font-face {
     font-family: 'Palanquindark';
     src: url('/assets/fonts/Palanquindark/palanquindark.ttf') format('ttf') ;
  }
