.btn-block {
  text-align: left;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.card-header{
  padding: 0px 0px 0px 0px;
}
