<div class="col-xl-12 col-lg-12 col-md-12 col-12" style="padding:30px 30px 10px 30px; background-color:#E6E6E6; margin:0px;">
  <h2 style="display: inline;" class="mx-auto">Dashboard  </h2>

  <div class="btn-group" role="group">
    <button class="btn btn-secondary" type="checkbox" name="options" checked (click)="setRadio('Charts')">Charts</button>
    <button type="checkbox" class="btn btn-secondary" name="options" (click)="setRadio('Lists')">Lists</button>
  </div>

</div>
<div class="main-panel" *ngIf="reservations && users">
  <div id="accordion" *ngIf="isSelected('Lists')">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
        <button class="btn btn-lg btn-block" type="button" data-toggle="collapse"  data-target="#collapseClients" aria-expanded="true" aria-controls="collapseClients">
          Users
        </button>
      </h5>
      </div>
      <div class="collapse show" id="collapseClients">
        <div class="card card-body">
          <app-users></app-users>
        </div>
      </div>
    </div>

    <div class="card ">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
        <button class="btn btn-lg btn-block"  type="button" data-toggle="collapse"  data-target="#collapseRooms" aria-expanded="true" aria-controls="collapseRooms">
          Rooms
        </button>
      </h5>
      </div>
      <div class="collapse show" id="collapseRooms">
        <div class="card card-body">
          <app-rooms></app-rooms>
        </div>
      </div>
    </div>

    <div class="card" ng-controller="reservationController as reservation">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
        <button class="btn  btn-lg btn-block"  type="button" data-toggle="collapse" data-target="#collapseReservations" aria-expanded="true" aria-controls="collapseReservations">
          Reservations
        </button>
      </h5>
      </div>
      <div class="collapse show" id="collapseReservations">
        <div class="card card-body">
          <app-reservations></app-reservations>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content" *ngIf="isSelected('Charts')">
    <div class="content-wrapper">
      <!--Statistics cards Starts-->
      <div class="row">

        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card" style="background-color:#0E894C; color:white;">
            <div class="card-body">
              <div class="card-block pt-2 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <!-- BUG -->
                    <h4 class="font-large-1 mb-0">{{nowDate | date :'fullDate'}}</h4>
                    <h5 class="font-large-1 mb-0">{{nowDate | date :'shortTime'}}</h5>
                    <!-- <span>Number of Visitors</span> -->
                    <!-- BUG end -->
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card" style="background-color:#15CC71; color:white;">
            <div class="card-body">
              <div class="card-block pt-2 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">{{nrUsers}}</h3>
                    <span><small>Number of users registered this month</small></span>
                    <input class="form-control" style="background-color:#15CC71;color:white;" type="month" name="month" min="2018-05" [ngModel]="curDate" month #month="ngModel" ngModel (change)="countUsersPerMonth(month.value)" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card" style="background-color:#1AFF8D; color:white;">
            <div class="card-body">
              <div class="card-block pt-2 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">{{nrReservations}}</h3>
                    <span><small>Number of reservetations were created this month</small></span>
                    <input class="form-control" style="background-color:#1AFF8D;color:white;" type="month" name="month2" min="2018-05" [ngModel]="curDate" month2 #month2="ngModel" ngModel (change)="countReservationsPerMonth(month2.value)" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card" style="background-color:#337F5A; color:white;">
            <div class="card-body">
              <div class="card-block pt-2 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">{{earnings}} MDL</h3>
                    <span><small>Estimated total earning on reservations</small></span>
                    <input class="form-control" style="background-color:#337F5A;color:white;" type="month" name="month3" min="2018-05" [ngModel]="curDate" month3 #month3="ngModel" ngModel (change)="countEarnings(month3.value)" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Statistics cards Ends-->

      <!--Line with Area Chart 1 Starts-->
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Reservations Chart</h4>
            </div>
            <div class="card-body">
              <div class="card-block">
                <div class="btn-group" role="group">
                  <button class="btn btn-secondary" type="checkbox" name="options" checked (click)="setRadioChart('Week')">Week</button>
                  <button type="checkbox" class="btn btn-secondary" name="options" (click)="setRadioChart('Month')">Month</button>
                </div>

                <google-chart *ngIf="selectedLinkChart=='Week'" [data]="reservationsChartWeek"></google-chart>
                <google-chart *ngIf="selectedLinkChart=='Month'" [data]="reservationsChartMonth"></google-chart>



              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <!--Line with Area Chart 1 Ends-->

      <div class="row match-height">
        <div class="col-xl-4 col-lg-12 col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Gender chart</h4>
            </div>
            <div class="card-body">
              <!-- <p class="font-medium-2 text-muted text-center pb-2">Last 6 Months Reservations</p> -->
              <div id="Stack-bar-chart" class="height-450 Stackbarchart mb-2">
                <google-chart [data]="genderChartData"></google-chart>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8 col-lg-12 col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Top 5 countries</h4>
            </div>
            <div class="card-body">
              <table class="table table-responsive-sm text-center">
                <thead>
                  <tr>
                    <th>Country</th>
                    <th>Number of users</th>
                    <th>Percentage Share</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let country of topCountries">
                    <tr>
                      <td>{{country[0]}}</td>
                      <td>{{country[1]}}</td>
                      <td>{{country[1]/sumFunction(chartArray)*100 | number:'1.0-0'}}%</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row match-height">
        <div class="col-xl-8 col-lg-12 col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">Countries map</h4>
            </div>
            <div class="card-body">
              <div id="MapChart" >
                <google-chart [data]="geoChartData"></google-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">API requests</h4>
            </div>
            <div class="card-body">
              <table class="table table-responsive-sm text-center">
                <thead>
                  <th>Path</th>
                  <th>Number</th>
                </thead>
                <tbody>
                  <ng-container *ngFor="let httpRequest of httpRequests">
                    <tr>
                      <td>{{httpRequest.address}}</td>
                      <td>{{httpRequest.requests}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <div id="lineChart" class="height-250 lineChart lineChartShadow">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-12" style="background-color:#E6E6E6;" *ngIf="isSelected('Lists')">

</div>
