.form-inline {
  margin-top: 17px;
}

.form-group {
  margin: 5px 5px 5px 5px;
}

.label {
  margin-right: 3px;
}

#btnSubmit {
  margin-top: 20px;
  border-radius: 0;
}

.btn-link {
  padding-left: 0;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.center {
  margin: auto;
  text-align: center;
}

.purple-gradient {
  /* background-image: linear-gradient(to top, #d1fdeb, #d6fefe, #e6fdff, #f7fdff, #ffffff); */
  background-color: #FCF7FF;
}

.white-font {
  color: white;
}
