<div class="container">
  <h2>Book a room</h2>

  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="form-horizontal">

    <h5>Fill the fields</h5>

    <div class="form-group">
      <label class="col-xs-3">First Name</label>
      <input type="text" class="form-control" name="name" ngModel required>

    </div>

    <div class="form-group">
      <label class="col-xs-3">Last Name</label>
      <input type="text" class="form-control" name="surname" ngModel required>

    </div>

    <div class="form-group">
      <label class="col-xs-3">Email</label>
      <input type="email" class="form-control" name="email" ngModel required email #email="ngModel">
      <span class="help-bpx" *ngIf="email.touched && !email.valid ">Please enter the Email Value</span>
    </div>

    <div class="form-group">
      <label class="col-xs-3">Contact number</label>
      <input type="tel" class="form-control" name="contact" ngModel required>

    </div>

    <div class="form-group">
      <label class="col-xs-3">Room</label>
      <div class="selectContainer">
        <select class="form-control" name="camera" ngModel required (change)="getRoomData(myForm)">
        <option  value="" disabled selected>Choose room</option>
        <ng-container  *ngFor="let room of rooms">
        <option [value]="room._id" >
          Room {{room.denumire}} with the capacity {{room.capacitate}} of people, price {{room.pret}} lei.
        </option>
      </ng-container>
      <!-- <control-messages [control]="myForm.controls.reservation" class="error-msg messages text-left text-danger">reservation</control-messages> -->
      </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3">Number of people</label>
      <input type="number" min="1" max="capacity" class="form-control" name="nrPeople" ngModel required nrPeople #nrPeople="ngModel">
      <!-- BUG-->
      <span class="help-bpx" *ngIf="nrPeople.value>capacity">The maximum value is {{capacity}}</span>
    </div>
    <div class="form-group">
      <label class="col-xs-3">Check-in</label>
      <input type="date" min="{{date | date:'yyyy-MM-dd'}}" class="form-control" name="checkIn" ngModel required (change)="getCheckIn(myForm)">
    </div>
    <div class="form-group">
      <label class="col-xs-3">Check-out</label>
      <input type="date" min="{{ CheckIn | date:'yyyy-MM-dd'}}" class="form-control" name="checkOut" ngModel required (change)="getCheckOut(myForm)">
      <span class="help-bpx" *ngIf="(CheckOut | date:'yyyy-MM-dd')==(CheckIn | date:'yyyy-MM-dd')">The stay is too short!</span>
    </div>

    <div class="form-group">
      <label class="col-xs-3">Total price</label>
      <input disabled type="text" class="form-control" value="{{price*nrDays}}" name="totalPrice" ngModel required>
    </div>

    <div class="raw">
      <div class="form-group">
        <button class="btn btn-dafault" type="submit" (click)="save(myForm)">Submit</button>
      </div>
    </div>

  </form>

</div>
