.form-inline {
  margin-top: 17px;
}

.form-group {
  margin: 5px 5px 5px 5px;
}

.label {
  margin-right: 3px;
}

#btnSubmit{
  margin-top:20px;
  border-radius:0;
}

.btn-link{
  padding-left:0;
}

input.ng-invalid.ng-touched
{
   border-color: red;
}
