<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div class="main w3-light-white">

    <!-- Header- carousel -->
    <div id="carousel_home_page" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" style="font-style: Roboto">

        <div class="carousel-item active">
          <img class="d-block w-100" src="../assets/images/villa2_1.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 40">Lorem ipsum dolor</h5>
            <p style="font-size: 20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel cursus lectus. Sed non consequat ex. Quisque maximus vestibulum mauris.</p>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/images/camera4.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 40">Lorem ipsum dolor</h5>
            <p style="font-size: 20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel cursus lectus. Sed non consequat ex. Quisque maximus vestibulum mauris.</p>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/images/workshop_food.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 40">Lorem ipsum dolor</h5>
            <p style="font-size: 20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel cursus lectus. Sed non consequat ex. Quisque maximus vestibulum mauris.</p>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#carousel_home_page" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#carousel_home_page" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>

    </div>
    <!-- header end -->

    <!-- Page content -->
    <div class="w3-display-container w3-content" style="max-width:fit-content;">

      <!-- <div class="w3-content" style="max-width:fit-content;"> -->

      <div class="w3-row w3-padding-16">

        <div class="w3-quarter w3-margin-bottom" id="camera1">
          <img src="../../../assets/images/camera1_1.JPG" alt="camera1" style="width:100%">
          <div class="w3-container w3-light-grey">
            <h3>Room 1</h3>
            <h6 class="w3-opacity">€10/person</h6>
            <p>Three double beds</p>
            <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
            <button [routerLink]="['/book']" class="w3-button w3-block w3-black w3-margin-bottom">Book</button>
          </div>
        </div>

        <div class="w3-quarter w3-margin-bottom" id="camera2">
          <img src="../../../assets/images/camera2_1.jpg" alt="camera2" style="width:100%">
          <div class="w3-container w3-light-grey">
            <h3>Room 2</h3>
            <h6 class="w3-opacity">€15/person</h6>
            <p>Two double bed</p>
            <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i></p>
            <button [routerLink]="['/book']" class="w3-button w3-block w3-black w3-margin-bottom">Book</button>
          </div>
        </div>

        <div class="w3-quarter w3-margin-bottom" id="camera3">
          <img src="../../../assets/images/camera3.jpg" alt="camera3" style="width:100%">
          <div class="w3-container w3-light-grey">
            <h3>Room 3</h3>
            <h6 class="w3-opacity">€20/person</h6>
            <p>King-size bed</p>
            <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
            <button [routerLink]="['/book']" class="w3-button w3-block w3-black w3-margin-bottom">Book</button>
          </div>
        </div>

        <div class="w3-quarter w3-margin-bottom" id="camera4">
          <img src="../../../assets/images/camera4.jpg" alt="camera4" style="width:100%">
          <div class="w3-container w3-light-grey">
            <h3>Room 4</h3>
            <h6 class="w3-opacity">€20/person</h6>
            <p>King-size bed</p>
            <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
            <button [routerLink]="['/book']" class="w3-button w3-block w3-black w3-margin-bottom">Book</button>
          </div>
        </div>

      </div>

      <!-- ABOUT  -->
      <div class="jumbotron w3-light-grey">
        <h2 class="display-5">About</h2>
        <p class="lead"> Our hotel is one of a kind. It is truely amazing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      </div>


      <!-- MAP -->
      <div class="w3-container" id="contact">
        <h2>Contact</h2>

        <!-- ADDRESS -->
        <div class="w3-row w3-large w3-center" style="margin:32px 0">
          <div class="w3-third"><i class="fa fa-map-marker w3-text-red"></i> 423 Some adr, Chicago, US</div>
          <div class="w3-third"><i class="fa fa-phone w3-text-red"></i> Phone: +00 151515</div>
          <div class="w3-third"><i class="fa fa-envelope w3-text-red"></i> Email: mail@mail.com</div>
        </div>

        <agm-map [latitude]="latitude" [longitude]="longitude">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>

      </div>
      <!-- MAP -->
    </div>
    <!-- </div> -->
    <!-- PAGE END -->
  </div>
</div>
